@use "../global" as *;

#app{
    width: 100%;
    height: 100dvh;
    background-color: $bg-dark;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .app{
        &_inner{
            max-width: 960px;
            width: 100%;
            margin-top: -15dvh;
        }
        &_logo{
            max-width: 500px;
            margin: auto;
            display: block;
            width: 100%;
        }

        &Search{
            max-width: 500px;
            width: 100%;
            margin: 15dvh auto 0;
        }

        &Signin{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            color: #fff;
            width: 100%;
            text-align: center;
            &_button{
                display: block;
                width: fit-content;
                margin: auto;
                font-size: 14px;
                font-weight: $font-bold;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }
}

.appModal{
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(0);
    transition: all 0.3s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    &.is-show{
        z-index: 1;
        transform: scale(1);
        opacity: 1;
    }

    &Crypto{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 670px;
        z-index: 1;
        color: #fff;
        word-break: break-all;
        letter-spacing: 5px;
        line-height: 2;
        transition: 1s;
        &.is-hide{
            opacity: 0;
        }
    }

    &_cube{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transform: scale(0);
        transition: all 0.3s;
        &.is-show{
            z-index: 10;
            transform: scale(1);
            opacity: 1;
        }
    }
}

.m-Search{
    position: relative;
    &Input{
        width: 100%;
        font-size: 14px;
        transition: all 0.3s ease;
        display: flex;
        position: relative;
        border-radius: $radius-circle;
        padding: 0 4px;
        align-items: center;
        &_frame{
            position: absolute;
            border: 1px solid $color-text-placeholder;
            border-radius: $radius-circle;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        input{
            padding: 12px 16px;
            position: relative;
            z-index: 1;
            color: #fff;
            flex: 1;
            &:focus{
                + label{
                    border: 2px solid $color-border-focus;
                }
            }
            &::placeholder{
                color: #5e5e5e;
            }
        }

        button{
            display: block;
            aspect-ratio: 1;
            height: 36px;
            border-radius: $radius-circle;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            position: relative;
            z-index: 1;
            &:hover{
                background-color: $bg-gray-light;
            }

            svg{
                color: #fff;
            }
        }
    }
    &Suggest{
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
        background-color: $bg-gray-light;
        border-radius: $radius-dm;
        overflow: hidden;
        z-index: 1;
        padding: 8px 16px;
        &Item{
            padding: 16px 0;
            color: #fff;
            transition: 0.3s;
            display: flex;
            align-items: center;
            width: 100%;

            &_icon{
                height: 24px;
                width: 24px;
                margin-right: 5px;
                .hint-icon{
                    color: #e0d34a;
                }
            }
            &_text{
                flex: 1;
                color: #fff;
                font-size: 14px;
                letter-spacing: 2px;
            }
        }
    }
}