@use "../global" as *;

#page-beat{
    .beat{
        &List{
            gap : $space-s;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 624px;
            width: 100%;
            margin: auto;
            &_item{
                width: 100%;
            }
        }

        &AddButton{
            position: sticky;
            top: 96px;
            right: 0;
            width: 40px;
            height: 40px;
            border-radius: $radius-circle;
            background-color: $bg-white;
            border: 1px solid $color-content-stroke;
            box-shadow: $shadow-elevation-level3;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            &:hover{
                background-color: $bg-gray-lightest;
            }
        }
    }
}