@use "../global" as *;

.page-register{
    &_inner{
        max-width: 560px;
        margin: auto;
        padding: 60px 20px;
    }

    &_logo{
        width: 200px;
        margin: auto;
    }
    &Form{
        margin-top: 40px;
        &_title{
            font-weight: $font-bold;
            text-align: center;
            font-size: 20px;
        }

        > form{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: $space-sm;
        }
    }

    &Complete{
        width: 560px;
        text-align: center;
        @include is-sp{
            width: 100%;
        }
        &_title{
            font-weight: $font-bold;
            text-align: center;
            font-size: 16px;
        }
        a{
            text-decoration: underline;
            font-weight: $font-bold;
            display: block;
            width: fit-content;
            margin: 15px auto;
            font-size: 16px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}