services:
  nextjs:
    build:
      context: ./nextjs
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./nextjs/application:/application
    environment:
      - NODE_ENV=development
    depends_on:
      - php

  php:
    container_name: php
    build: ./docker/php
    hostname: switcha.local
    volumes:
    - ./nginx/www/htdocs:/var/www/htdocs
    - ./nginx/www/backend:/var/www/backend

  nginx:
    container_name: nginx
    build: ./nginx
    hostname: switcha.local
    ports:
    - 80:80
    - 443:443
    volumes:
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    - ./nginx/www/backend/storage/app:/var/www/backend/storage/app
    # depends_on:
    # - db

  express:
      build:
        context: ./express
        dockerfile: Dockerfile_dev
      container_name: express
      ports:
        - "4000:4000"
      environment:
        - NODE_ENV=development
        - PORT=4000
      volumes:
        - ./express/src:/app/src
        - ./express/package.json:/app/package.json
        - ./express/package-lock.json:/app/package-lock.json
        - ./express/node_modules:/app/node_modules
      restart: unless-stopped

  # mail_server:
  #   build:
  #     context: ./mail
  #     dockerfile: Dockerfile
  #   container_name: mail_server
  #   hostname: mail.local
  #   ports:
  #     - "25:25"
  #     - "587:587"
  #   environment:
  #     - MAIL_DOMAIN=local
  #     - MAIL_HOSTNAME=mail.local
  #   volumes:
  #     - ./mail/mailbox:/var/mail
  #     - ./mail/maillog:/var/log
  #   restart: unless-stopped

  # redis:
  #     image: redis:7.2.4-alpine
  #     container_name: redis-external
  #     command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
  #     ports:
  #       - "6379:6379"
  #     volumes:
  #       # - ./redis-data/dump.rdb:/data/dump.rdb
  #       - ./redis/datas:/data
  #       - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
  #     environment:
  #       - REDIS_PASSWORD=MF4SiVn9A2HtiIU8dclr
  #     # user: "${UID}:${GID}"
  #     restart: always

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/mysql_data:/var/lib/mysql
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    user: mysql
    environment:
      - MYSQL_DATABASE=office_tool
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - TZ=Asia/Tokyo

  # phpmyadmin:
  #   image: phpmyadmin/phpmyadmin
  #   ports:
  #     - "8080:80"
  #   environment:
  #     - PMA_HOST=db
  #     - PMA_USER=root
  #     - PMA_PASSWORD=password
  #     - UPLOAD_LIMIT=64M
  #   volumes:
  #     - ./phpmyadmin/pma-session-store:/sessions
  #   depends_on:
  #     - db