@use "../../../scss/global" as *;

.m-Nickname{
	padding: 60px 20px;
	max-width: 600px;
	margin: auto;
	&_inner{
		width: 100%;
		border-radius: $radius-s;
		//box-shadow: $shadow-elevation-level3;
		background-color: $bg-white;
		padding: $space-sm;
		border: 1px solid $color-content-stroke;
	}

	&Form{
		margin-top: $space-sm;
		display: flex;
		flex-direction: column;
		gap: $space-s;
		&_icon{
			position: relative;
			overflow: hidden;
			border-radius: 50%;
			width: fit-content;
			border: 1px solid $color-content-stroke;

			&:hover{
				p{
					opacity: 1;
				}
			}
			p {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				font-size: 12px;
				color: $text-white-fix;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: 0.3s;
			}
		}
		&_submit{
			display: flex;
			flex-direction: column;
			width: 150px;
		}
	}
}