@use "@/scss/global" as *;

.m-Emoji{
    width: 300px;
    height: 400px;
    overflow: auto;
    &Folder{
        &Items{
            display: flex;
            flex-wrap: wrap;
            &_item{
                width: 30px;
                height: 30px;
                padding: 5px;
                border-radius: $radius-s;

                &.is-skeleton{
                    background-color: $bg-gray-lightest;
                }

                &:hover{
                    background-color: $bg-gray-lightest;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}