@use "@/scss/global" as *;

.m-FileUpload{
    position: relative;

    .label{
        display: block;
        margin-bottom: 4px;
        font-size: 14px;
    }

    &_inner{
        position: relative;
        > * {
            cursor: pointer;
        }
        input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: -1;
        }
    }
}