@use "@/scss/global" as *;

.m-Modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: $z-index-10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_close{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }

    &Content{
        background-color: $bg-white;
        transform: translate(-50%, -50%);
        width: fit-content;
        padding: $space-sm;
        border-radius: $radius-sm;
        box-shadow: $shadow-elevation-level3;
        z-index: 1;

        @include is-sp{
            width: 100%;
            max-width: 90%;
        }
    }
}