@use "../../../scss/global" as *;

.m-Avatar{
    width: 40px;
    height: 40px;
    border-radius: $radius-circle;
    background-color: $color-bg-black;
    overflow: hidden;
    > img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}